<!-- <form action="onsubmit()">
    <div *ngFor='let a of quizList;let i=index'>{{a.question}}
        <div *ngFor='let b of a.options'>
            <input type="radio" (click)="change(b,a.correct_answer,i)" id="{{b}}" name="{{a.correct_answer}}"
                value="{{b}}">
            <label for="{{b}}">{{b}}</label>
        </div>
    </div>
    <input value="submit" type="submit">
</form> -->
<!-- <form name="simpleform" onsubmit="send()">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Submit">
  </form> -->
<div class="container-fluid">
   
        <div class="card justify-content-center" style="width: 20rem;">
            <div *ngIf="dataLoaded==false">
                <div class="spinner-border"></div>
            </div>
            <div class="card-body ">
                <h5 class="card-title">Question No.{{startIndex+1}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{quizList[startIndex].question}}</h6>
                <div class="card-text" *ngFor='let b of quizList[startIndex].options'>
                    <input type="radio" (click)="change(b,quizList[startIndex].correct_answer,startIndex)" id="{{b}}"
                        name="{{quizList[startIndex].correct_answer}}" value="{{b}}">
                    <label for="{{b}}">{{b}}</label>
                </div>
            </div>

        </div>




        <!-- <div class="card"> -->
            <div class="card-text" id="no">
            </div>
        <!-- </div> -->

        <!-- pagination -->
        <nav aria-label="Page navigation example" >
            <ul class="pagination justify-content-center">

                <li class="page-item">
                    <a class="page-link" id="prev" (click)="PreviousQ()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <li class="page-item" *ngFor="let item of quizList;let po =index">
                    <a class="page-link" (click)="updateIndex(po)">{{po+1}}</a>
                </li>

                <li class="page-item">
                    <a class="page-link" id="next" (click)="NextQ()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>

            </ul>
        </nav>


        <!-- submit  button for the quiz -->
        <div>
            <input class="btn btn-success" type="submit" (click)="Calculate()" value="Submit">
        </div>
</div>