<div class="taking-quiz d-flex justify-content-center">
    <div class="taking-quiz-items">

        <!-- question-card -->

        <div class="card mt-3" style="width: 44rem;">
           

            <div class="card-body">
                <h5 class="card-title">Question No.{{startIndex+1}}</h5>
                <div  class="d-flex justify-content-center">
                    <div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="text-warning text-center" id="no"></div>
               
                <h6 [innerHTML]="quizList[startIndex].question" class="card-subtitle mb-2">
                    {{quizList[startIndex].question}}</h6>

              

                <div class="card-text" *ngFor='let b of quizList[startIndex].options'>
                    <input type="radio" (click)="change(b,quizList[startIndex].correct_answer,startIndex)" id="{{b}}"
                        name="{{quizList[startIndex].correct_answer}}"
                        [checked]="b === quizList[startIndex].option_chosen"  [innerHTML]="b" value="{{b}}">

                    <label class="option-label" for="{{b}}">{{b}}</label>
                </div>
            </div>

        </div>

        <!-- pagination -->
        <div class="Page-navigation-example">
            <nav aria-label="Page-navigation-example">
                <ul class="pagination justify-content-center">

                    <li class="page-item" [ngClass]="{disabled:startIndex === 0}">
                        <a class="page-link" id="prev" (click)="PreviousQ()" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    <li class="page-item" *ngFor="let item of quizList;let po =index">
                        <a class="page-link" [ngClass]="{active:po === startIndex}"
                            (click)="updateIndex(po)">{{po+1}}</a>
                    </li>

                    <li class="page-item" [ngClass]="{disabled:startIndex === 9}">
                        <a class="page-link" id="next" (click)="NextQ()" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>


        <!-- submit  button for the quiz -->
        <div>
            <input class="btn btn-primary" (click)="Calculate()" data-toggle="modal" data-target="#exampleModal2"
                type="submit" value="FINISH">
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="score!==0" class="modal-body score">
                    
                    <div *ngIf="score>=5" class="d-flex justify-content-center">
                        <img src="https://www.freepngimg.com/thumb/trophy/75846-trophy-cup-icon-free-download-image-thumb.png" alt="">
                    </div>
                   
                    <p class="text-center result">You have scored {{this.score}}points. KUDOS!!</p>
                </div>
               
               
                <div *ngIf="score===0" class="modal-body score">
                    <div class="d-flex justify-content-center">
                        <img id="sad-emoji" src="https://images.vexels.com/media/users/3/134884/isolated/preview/48e6880a62eaa4c1da1cbbc0880804ec-worry-sad-emoji-emoticon-by-vexels.png" alt="">
                    </div>
                    <p class="text-center result">You have not answered any of the questions.</p>
                </div>

                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-share-alt-square"></i>SHARE</button> -->
                </div>
            </div>
        </div>
    </div>
</div>