<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <nav class="navbar center navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">QUIZZER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact Us</a>
            </li>
          </ul>
        
        </div>
      </nav>
      <!-- <nav class="navbar center navbar-expand-lg navbar-dark d-flex align-items-center">
         <a class="navbar-brand">QUIZZER
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNavDropdown">
          <ul class="navbar-nav d-flex justify-content-around align-items-center">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav> -->
      <router-outlet></router-outlet>
      <footer class="d-flex justify-content-around" id="footer">
        <ul id="footer-header" class="footer-items"><strong>Other Popular Study Tools</strong>
          <li><a href="#" target="_blank"></a>GoConqr</li>
          <li><a href="#" target="_blank"></a>Quizlet</li>
          <li><a href="#" target="_blank"></a>MarinaraTimer</li>
        </ul>

        <ul id="footer-header" class="footer-items"><strong>Contact US</strong>
          <li>mail to <span>clickhima@gmail.com</span></li>
          <li>Based in <span>Sara's Street ,Vellore.</span></li>
        </ul>

      </footer>
    </div>
  </div>
</div>