<div class="quiz-select">
  <div class="quiz-fact">

  </div>
  <div id="choose" class="row m-5 col-lg-6 mx-auto text pl-5">Choose category and difficulty level from below and test your knowledge!
  </div>
  <div class="row m-5 ">

    <div class="col-lg-12">
      <form [formGroup]="selectForm" (submit)="onsubmit()">
        <div class="col">
          <div class="col-lg-6 form-input mx-auto">
            <span>
              <label class="form-label px-2 py-2" for="Source">Category</label>
              <select formControlName="Category" id="Category" class="form-control">
                <option value="select" disabled>select</option>
                <option [value]="b.id" *ngFor="let b of categoryList;let k=index;">{{b.name}}</option>
              </select>
            </span>


          </div>
          <div class="col-lg-6 form-input mx-auto">
            <label class="form-label px-2 py-2" for="Source">Difficulty Level</label>
            <select formControlName="difficultyLevel" id="difficultyLevel" class="form-control">
              <option value="select" disabled>select</option>
              <option [value]="a" *ngFor="let a of difficultyLevel;let j=index;">{{a}}</option>
            </select>

          </div>
          <div class="d-flex col-lg-6 form-input mx-auto">
            <input type="submit" class="btn btn-secondary mx-auto my-3"  (onclick)="onsubmit" data-toggle="modal" data-target="#exampleModal"
              id="submitbutton" value='SUBMIT' />
            <button type="button" (click)="reload()" class="btn btn-outline-secondary mx-auto my-3">RESET</button>
          </div>

          <div *ngIf="!selectForm.valid" class="text-center" id="alert-text">
            Please Choose both Fields.
          </div>
        </div>
      </form>
    </div>
    <!-- put a form with --select category here and difficulty level-->
  </div>
</div>
<!-- Modal -->
<div class="modal fade" *ngIf="this.selectForm.valid" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">!Very Important!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Instructions:</div>
        <ol>
          <li>Don't open tabs.</li>
          <li>Closing in the middle of the session will not save answers</li>
          <li>Incase of any issue or query in display of the question or answer.Write to us at clickhima@gmail.com</li>
        </ol>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-success" [routerLink]="['/quiz']"
          [queryParams]="{Category:this.selectForm.value.Category,difficultyLevel:this.selectForm.value.difficultyLevel}"
          id="start-quiz" data-dismiss="modal">
          START QUIZ
        </button>
      </div>
    </div>
  </div>
</div>